body {
    font-family: 'Open Sans', sans-serif;
    size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 1.125;
    color: #192b59;
    max-width: 600px;
    margin-bottom: 64px;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid#1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4; 
    background-color: transparent;
}

.btn-secondary{
    color: #95a3bf;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8; 
    border: 1px solid#cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 21px 56px;
}

.title-50{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin: 0 auto;
    max-width: 500px
}

.title-50 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.1px;
    margin-bottom: -3px;
    line-height: 1.4;
}

.title-40 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    margin-bottom: 015px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px

}
.logo {
    display: block;
    width: 183px;
    height: 49px;
    background-image: url(../img/logo.png);
    padding-left: 0
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex
}

.nav>li {
    padding: 0 15px;
}

.nav-item {
    color: #6e7ea9;
}

.list-company{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}
.list-company-item{
    display: block;
}
.sponsor-1{
    background-image: url(../img/sponsor-1.png);
    flex-basis: 198px;
    height: 58px;
}
.sponsor-2{
    background-image: url(../img/sponsor-2.png);
    flex-basis: 200px;
    height:  69px;
}
.sponsor-3{
    background-image: url(../img/sponsor-3.png);
    flex-basis: 201px;
    height:  47px;
}
.sponsor-4{
    background-image: url(../img/sponsor-4.png);
    flex-basis: 200px;
    height:  69px;
}

.screen-img{
    display: block;
    background-image: url(../img/screen-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 902px;
    height: 738px;
    position: absolute;
    right: 0;
    top: 188px;
}

.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-info:hover {
    background-color: #94b4cc;
    color: #fff; 
    border: 1px solid #94b4cc
}

.btn-group a + a {
margin-left: 15px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59
}

.grid-item a {
    size: 14px;
    font-weight: 600;
    color: #1085e4
}

.box-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-subscribe-user{
    position: relative;
}
.box-subscribe-user input{
    border: 2px solid #3f5cb1;
    color: #fff;
    font-size: 14px;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user .btn-primary{
    position: absolute;
    right: 8px;
    top: 9px;
    padding: 17px 50px
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary{
    outline: none;
}

.box-subscribe-child{
flex-basis: 49%;
}

.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.sub-header{
    margin-bottom: 87px
}
.sub-header h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -2.3px;
}

.sub-header h2 span{
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    padding-bottom: 31px;
}

.sub-header p {
    max-width: 410px;
    size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    letter-spacing: 1px;
    line-height: 30px;

}

.btn-subscribe {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4; 
}
.robot-img{
    display: block;
    background-image: url(../img/robot.png.png);
    flex-basis: 354px;
    height: 417px
}

.page-software h2 {
size: 50px;
font-weight: 600;
color: #192b59
}

.dt {
    font-weight: 800;
}

.fact li {
    size: 12px;
    font-weight: 700;
    color: #1085e4
}
.fact span {
    size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}
.list-stat{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 76px
}
.list-stat>li{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7;
}
.list-stat>li>span{
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0
}
.screen{
    margin-top: 70px;
    margin-bottom: -7px
}
.box-price{
    display: flex;
    justify-content: space-between;
    margin-top: 80px
}
.box-price ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}
.box-price ul>li{
    margin-bottom: 14px;
}
.box-price-items {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-items-active {
    background-color: #192b59;
    color: #fff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-items-active h3{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px
}
.box-price-items-active p{
    font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    text-transform: uppercase;
    }
.box-price-items-active span{
    font-size: 20px;
    color: #7b8ab2
}
.box-price-items:first-child h3{
    margin-bottom: 35px;
}
.box-price-items h3{
font-size: 70px;
font-weight: 700;
color: #000958;
letter-spacing: -1px;
margin-top: 0;
margin-bottom: 15px
}
.box-price-items p{
font-size: 14px;
color: #0084ff;
font-weight: 700;
text-transform: uppercase;
}
.box-price-items span{
    font-size: 20px;
    color: #7b8ab2
}

/* PAGE */

.page-header{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company{
    background-image: url(../img/company-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 111px 0 94px;
}
.page-stat, .page-screen{
    background-color: #dce1e5;
    text-align: center
}
.page-stat{
    padding: 116px 0 96px
}
.page-plan{
    text-align 0
}
.page-screen{
    padding: 83px 0 0;: center
}
.page-subscribe{
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    padding: 50px 0 45px;
}


 